#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.LoginPage {
  background-image: url('https://images.wallpaperscraft.com/image/single/stairs_dark_bw_126426_1920x1080.jpg');
  height: 95vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.PridetiLesas:hover {
  background-color: green;
  border: none;
  transition: 0.5s;
}
.PridetiLesas {
  border: none;
}